
public interface ${typeName}DAO {

	#if($insert)
	public Long insert${typeName}(${pojoName} ${instanceName});
	#end
	
	#if($insertBatch)
	public Long insertBatch(List<${pojoName}> list);
	#end
	
	#if($delete)
	public Integer delete${typeName}(Long id);
	#end
	
	#if($deleteBatch)
	public Integer deleteBatch(List<${pojoName}> list);
	#end
	
	#if($update)
	public Long update${typeName}(${pojoName} ${instanceName});
	#end

	#if($findById)	
	public ${pojoName} find${typeName}ById(Long id);	
	#end
	
	#if($list)
	public List<${pojoName}> list${typeName}(${pojoName} ${instanceName});
	#end
	
	#if($listWithLimit)
	public List<${pojoName}> list${typeName}WithLimit(${pojoName} ${instanceName});
	
	public List<${pojoName}> list${typeName}WithLimit(${pojoName} ${instanceName}, Integer start, Integer pageSize);
	#end
}
