$page.setTitle("创建代理模式配置")

<form action="" method="post">
    $csrfToken.hiddenField
    <input type="hidden" name="action" value="create_proxy_action"/>

	#set ($group = $form.createProxy.defaultInstance)

    <div class="row blank-space">
    	<div class="col-md-1">
      	</div>
    	<div class="col-md-11">
      			<div class="row">
      				<div class="col-md-3">
			    		<h4>请输入被代理类名称：</h4>
      				</div>
      				<div class="col-md-6">
      					<input type="text" name="$group.className.key" value="$!group.className.value" class="form-control"/>
      				</div>
      				<div class="col-md-3">
					   	#if (!$group.className.valid)
			        		<label class="label label-danger bolder">$group.className.message</label>
    					#end
      				</div>
      			</div>
     	</div>
    </div>
    
    
        <div class="row blank-space">
    	<div class="col-md-1">
      	</div>
    	<div class="col-md-11">
      			<div class="row">
      				<div class="col-md-3">
			    		<h4>请输入被代理类的接口名称（如果使用CGLIB可以不用输入）：</h4>
      				</div>
      				<div class="col-md-6">
      					<input type="text" name="$group.interfaceName.key" value="$!group.interfaceName.value" class="form-control"/>
      				</div>
      			</div>
     	</div>
    </div>

    
    <div class="row blank-space">
    	<div class="col-md-1">
      	</div>
    	<div class="col-md-11">
      			<div class="row">
      				<div class="col-md-3">
			    		<h4>请选择代理类配置方式：</h4>
      				</div>
      				<div class="col-md-6">
      					#select ($group.type.key $selectProxyType $group.type.value "-- 请选择配置方式 --")
      				</div>
      				<div class="col-md-3">
					   	#if (!$group.type.valid)
			        		<label class="label label-danger bolder">$group.type.message</label>
    					#end
      				</div>
      			</div>
     	</div>
    </div>
    
	<div class="row blank-space">
      <div class="col-md-3">
      </div>
	  <div class="col-md-2">
	  	<input type="submit" name="event_submit_do_create" class="btn btn-primary btn-lg"/>
      </div>
      <div class="col-md-2">
	    <input type="button" name="reset" value="清空" class="btn btn-primary btn-lg "/>
      </div>
	</div>
</form>


<h2>1.代理类</h2>

<pre>
	<code>
		$classResult
	</code>
</pre>


<h2>2.生成代理类工具</h2>
<pre>
	<code>
		$creatorResult
	</code>
</pre>

<h2>3.测试类</h2>
<pre>
	<code>
		$exampleResult
	</code>
</pre>

